 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-1 .u-image-1 {
  width: 215px;
  height: 300px;
  border-style: solid;
  margin: 12px 19px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 467px;
  height: 310px;
  margin: -329px auto 0 203px;
}

.u-section-1 .u-group-1 {
  width: 295px;
  min-height: 1010px;
  height: auto;
  margin: -310px -21px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: 405px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 858px;
  margin: -688px auto 0 -38px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 734px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 60px 6px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 1px 0 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-33 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-37 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-38 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-39 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-40 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-41 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-42 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-43 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-44 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-45 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-46 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-47 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-48 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 150px;
  height: 56px;
  margin: -716px 50px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 0 64px 615px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 585px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -246px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 664px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 44px 716px 0 14px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 400px;
  margin: -54px 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 388px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-2 .u-image-1 {
  width: 350px;
  height: 290px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -303px 395px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 14px 5px 0;
}

.u-section-2 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-32 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 49px;
    margin-right: 570px;
    margin-left: 51px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -34px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 126px;
    height: 104px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 186px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -329px;
    margin-right: 235px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 70px;
    margin-right: 350px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -55px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 15px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 224px;
    margin-right: 170px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -189px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -341px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: -318px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 496px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -461px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: -938px;
  }
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 858px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 38px auto 0 405px;
}

.u-section-3 .u-image-1 {
  width: 381px;
  height: 214px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -48px auto 0 12px;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -175px auto 0 405px;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 47px 0 405px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px 18px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 19px;
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-33 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-34 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-35 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 346px;
  }

  .u-section-3 .u-image-1 {
    height: 213px;
    margin-top: -39px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -174px;
    margin-left: 346px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 313px;
    margin-left: 346px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 265px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 265px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 240px;
    margin-left: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
    margin-left: 199px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 199px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 180px;
    margin-left: 199px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 125px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 190px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -151px;
    margin-left: 125px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 113px;
    margin-left: 125px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 871px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px auto 0 11px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 186px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -5px 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -170px auto 0 11px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px 311px 0 11px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 11px 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-21 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-22 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-24 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-25 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-27 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-28 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-30 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-31 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-33 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-34 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 47px auto 44px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 160px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -29px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -207px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 151px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-1 {
    margin-top: -26px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 186px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -51px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -233px;
  }
}